<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="false"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix="Test.php">tests/integration</directory>
		</testsuite>
	</testsuites>
	<php>
		<!-- Point at a wordpress-develop checkout's tests/phpunit directory and a wp-tests-config.php. -->
		<env name="WP_TESTS_DIR" value=""/>
		<env name="WP_TESTS_CONFIG_FILE_PATH" value=""/>
	</php>
</phpunit>
